# <services>
services:
  backend:
    build: ./backend
    container_name: "backend"
    command: gunicorn backend.wsgi:application --bind 0.0.0.0:8000
    ports:
      - "8000:8000"
    env_file:
      - .env.prod
    depends_on:

      - postgres

    restart: always


  postgres:
    image: postgres:15
    container_name: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env.prod
    restart: always  


  frontend:
    build: ./frontend
    container_name: frontend
    volumes:
      - ./nginx/www/frontend:/build   
    command: ""  
    depends_on:
      - backend
    restart: on-failure

# </services>

# <volumes>
volumes:
  postgres_data:

# </volumes>
